<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SaraMinkara</title>

    {% load static %}
    <link rel="stylesheet" href="{% static 'base.css' %}" type="text/css" />
</head>
<body>
    <ul>
        <li><a href="/">Home page</a></li>
        <li><a href="/">Social page</a></li>
        <li><a href="/">About us</a></li>
        <li><a href="/">Merchandise page</a></li>
        <li><a href="/">Bio</a></li>
        <li><a href="/">Contact Us</a></li>
        <li><a href="http://www.saraminkara.com/">Sara’s main</a></li>
    </ul>
</body>
</html>